html {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
}

body {
    width: 96%;
    margin: 2%;
    min-height: 100%;
    background: #111012;
    color: #f1f0f2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: lightsteelblue;
    text-decoration: none;
}
